<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{% url 'user:addUser' %}" method="post">
{% csrf_token %}
    <input type="text" name="username" id="username" />
    <label>Username</label><br />
    <input type="text" name="email" id="email" />
    <label>Email Address</label><br />
    <input type="password" name="password" id="password" />
    <label>Password</label><br />
    <input type="password" name="retype-password" id="retype-password" />
    <label>Re-type Password</label><br />
    <input type="submit" value="Login" />
<input type="submit" value="Vote" />
</form>
</body>
</html>